@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	font-family: '游明朝', serif;
	text-align: center;
}

p {
	font-size: 20px;
}

/* ログインフォーム */
h2 {
	margin: 20px;
	font-size: 45px;
}

.login {
	width: 250px;
	text-align: left;
	padding: 5px;
	margin: 10px;
	cursor: pointer;
	border-radius: 5px;
}

.add {
	margin-top: 150px;
	margin-bottom: 50px;
}

/* header関係 */
.header {
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid #000;
	background-color: #fff;
	height: 160px;
	width: 100vw;
	position: fixed;
	z-index: 999;
}

.header img {
	height: 100%;
	width: 150px;
}

.header h1 a {
	display: flex;
	align-items: center;
}

.name {
	color: #000;
}

/* フォーム関係 */
.form {
	width: 70%;
	margin: 20px auto;
}

.table {
	width: 100%;
	margin: 0 auto;
	font-size: 18px;
}

.table td {
	text-align: left;
}

.error {
	color: #F00;
}

.fff {
	margin-top: 50px;
}

.input {
	padding: 5px 10px;
	margin: 10px;
	width: 70%;
	border-radius: 5px;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	font-weight: bold;
	cursor: pointer;
}

.submit {
	padding: 5px 10px;
	margin: 20px;
	border-radius: 5px;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	font-weight: bold;
	cursor: pointer;
	background-color: #ccc;
}

#search {
	padding: 5px 10px;
	margin: 10px;
	border-radius: 5px;
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	cursor: pointer;
}

.items img {
	height: 150px;
	width: 150px;
}

.message {
	color: #ff7575;
	margin-top: 20px;
	font-size: 20px;
}

.imgFile {
	display: flex;
}

/* cart関係 */
.selectItem {
	width: 70%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	display: flex;
	margin: 10px auto;
}

.delete {
	font-size: 20px;
	border: 1px solid #000;
	color: #000;
}

/* aタグ、リスト関係 */
body a {
	text-decoration: none;
	color: #00a6ff;
}

ul {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	display: flex;
}

ul li {
	text-align: center;
	list-style: none;
	color: #00a6ff;
}

a:hover {
	color: #ff7575;
}

li a:hover {
	border-bottom: 1px solid;
}

/* main関係 */
.container {
	padding: 160px 5% 0 5%;
	margin-bottom: 20px;
}

hr {
	margin: 10px;
}

h3 {
	font-size: 35px;
}

/* items関係 */
.itemsmall {
	width: 50%;
	margin: 0 auto;
}

.items {
	border: 1px solid #000;
	margin: 10px auto;
	height: 150px;
	display: flex;
	justify-content: space-around;
	border-radius: 5px;
}

.items p {
	margin: 0 auto;
}

.text {
	width: 50%;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	display: flex;
	width: 50%;
	overflow: hidden;
}

.itemInput {
	border-radius: 5px;
	padding: 5px;
	margin: 10px;
}

.imgFile {
	display: flex;
	justify-content: center;
}

.imgFile img {
	margin: 5px;
	height: 110px;
	width: 110px;
	display: flex;
	justify-content: space-around;
}

h4 {
	font-size: 25px;
	margin-top: 20px;
}

/* スライドショー関係 */
.slider {
	width: 500px;
	height: 450px;
	margin: 10px auto 0 auto;
	position: relative;
}

.slider ul {
	height: 50px;
	position: absolute;
}

.slider img {
	width: 500px;
	height: 400px;
}

.slick-next {
	right: 20px !important;
	top: 40%;
}

.slick-prev {
	left: 0 !important;
	top: 40%;
}

.slick-arrow {
	z-index: 2 !important;
}

.slick-prev:before, .slick-next:before {
	font-family: 'slick';
	font-size: 40px;
	line-height: 1;
	opacity: .75;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #999;
}

/* ページネーション関係 */
.pageList {
	margin: 50px auto;
	display: flex;
	padding: 10px;
}

.pagenation {
	width: 30px;
	border: 1px solid #999;
	margin: 2px;
	border-radius: 2px;
}

.pagenation a {
	display: block;
	color: #000;
}

.pagenation a:hover {
	color: #fff;
	border-bottom: none;
	background-color: #000;
}

/* フッター */
footer {
	text-align: center;
	color: #fff;
	background-color: #000;
	margin: 20px 0 5px 0;
	padding: 5px 0;
}

/* admin関係 */
.admin {
	margin: 20px 20%;
	display: flex;
	justify-content: space-around;
}

.adminTable {
	width: 98%;
	margin: 0 auto;
	border-collapse: collapse;
}

.adminTable img {
	height: 100px;
	width: 100px;
}

.adminTable th, .adminTable td {
	border: 1px solid #000;
}

.adminTable tr:nth-child(even) {
	/* 偶数行の背景色を設定 */
	background-color: #f2f2f2;
}

/* 請求書 */
.pdf {
	margin: 10px;
	height: 1000px;
	width: 94vw;
	padding: 10px;
}

.a {
	background-color: #ddd;
}

.b {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	display: flex;
}

.d {
	text-align: right;
	width: 50%;
	border-bottom: 1px solid #000;
	left: 0;
}

.e {
	width: 50%;
}

.i {
	line-height: 70px;
	width: 100%;
	margin: 10px 0;
}

.j {
	text-align: center;
}

.k {
	margin-top: 100px;
}

.l {
	width: 80%;
	margin: auto;
}

.o {
	text-align: left;
	padding-left: 100px;
}

.p {
	margin: auto;
	width: 100%;
	border-collapse: collapse;
}

.p th, .p td {
	border: 1px solid #000;
}

.q {
	margin: 20px 0 0 auto;
	width: 50%;
	border-collapse: collapse;
}

.q th, .q td {
	border: 1px solid #000;
}

/* 領収書 */
/* .pdf {
	margin: 50px;
	border: 1px solid #000;
	width: 2039px;
	height: 1447px;
	padding: 50px;
}

.a {
	margin: 100px 0;
	font-size: 100px;
	background-color: #ccc;
}

.b {
	display: flex;
	justify-content: center;
	margin: 50px;
}

.c {
	width: 20%;
}

.d {
	text-align: right;
	width: 40%;
	border-bottom: 1px solid #000;
}

.e {
	width: 40%;
}

.f {
	width: 70%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	background-color: #aef;
	border-bottom: 3px solid #000;
	height: 152px;
}

.g {
	font-size: 70px;
	padding: auto;
}

.h {
	line-height: 152px;
	text-align: center;
}

.i {
	margin-top: 50px;
	line-height: 70px;
	width: 60%;
}

.j {
	text-align: left;
	margin-left: 350px;
}

.k {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 100px;
}

.l {
	border: 1px dashed #000;
	padding: 50px;
}

.m {
	width: 40%;
}

.n {
	text-align: left;
	border-bottom: 1px solid #000;
	line-height: 100px;
}

.o {
	text-align: left;
	padding-left: 200px;
}

.z {
	font-size: 40px;
} */